<%= render 'pages/home' %>

<div id="pins">
  <%= render @pins %>
</div>
<div data-spy="affix" data-offset-top="200">
	<ul>
		
		<%= link_to(image_tag('top.png'), "#") %>

	</ul>
</div> 
<%= will_paginate @pins %>