<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to 
			<%= image_tag("vidstripelogo.png")%> </h1>
		<p>
			The place to organize and share your YouTube preffered videos
			<!-- <%= link_to "One Month Rails", "http://onemonthrails.com" %>
			application. -->

		</p>
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>