
<H1>About Vidstripe</H1>
<p>
	<%= link_to(image_tag('vidstripe30.png', :alt => "Vidstripe", :title => "Vidstripe"), root_path) %>
	is a way to organize and bookmark your preffered videos 
	from all over the net.
</p>
 <p>
 	This is a project build follwing the One Month Rails course by Mattan Griffel using Ruby on Rails.
 </p>
 <p>
 	For best experience drag this link to your bookmarks bar
 	<a onclick="alert('To install the Pin It button, drag it to your bookmarks toolbar!');return false;" href="javascript:void((function(d){var%20e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','//shielded-island-5132.herokuapp.com/assets/pinmarklet.js?r='+Math.random()*99999999);d.body.appendChild(e)})(document));" class="button">Pin It</a>
 </p>