
<H1>About Vidstripe</H1>
<p>
	<%= link_to(image_tag('vidstripe30.png', :alt => "Vidstripe", :title => "Vidstripe"), root_path) %>
	is a way to organize and bookmark your preffered videos 
	from all over the net.
</p>
 <p>
 	This is a project build follwing the One Month Rails course by Mattan Griffel using Ruby on Rails.
 </p>