/* You can change the font here*/
/*FontFamily: Oxygen;

@import url(http://fonts.googleapis.com/css?family=Oxigen);*/

/************************ CSS Variables ***************************/
$btnPrimaryBackground:  #DD1F26;
$navbarBackgroundHighlight: lightgrey;
$navbarBackground: white;
/************************ Import Bootstrap ********************************/
@import 'bootstrap';
@import 'bootstrap-responsive';



.btn-primary {
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: white;
  font-weight: bold;
}


.btn add-on{
	height: inherit !important;
	
}
.btn-danger {
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  color: white;
  font-weight: bold;
}

.no_display {
	display: none;
}

.nav a {
margin-top: 5px;
font-size: large;
font-weight: bold;

}
.navbar-inner {
@include box-shadow(2px !important);
border: 1;

}

.navbar-search {
		margin-top: 12px;

}

/************************ Back-to-top Style ********************************/
#back_to_top {
	position: fixed;
	right: 0;
	top: 150px;
	display: block;
}

/************************ Buttons *****************************************/

.body {
	padding-top: 80px;
}
.footer {
	margin-top: 50px;
	color: $grayLight;
	 a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
	
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 272px;
}

.box img {
	position: relative;
	diplay: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}


.playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    
    z-index: 10;
}

.description {
	margin: 10px 0 5px;
}
